<nav class="cta">
    <!-- <div class="row first-row">
        <%= link_to 'Download for Windows', '#', :class => 'button windows' %>
        <%= link_to 'Download for Mac', '#', :class => 'button mac' %>
        <%= link_to 'Download for Linux', '#', :class => 'button linux' %>
    </div> -->
    <div class="row second-row">
        <%= link_to 'Go to source code', 'https://github.com/open-lfs/git-lfs/tree/openlfs', :class => 'button windows', :target => '_blank' %>
        <div class="note">
            <small>(Windows version. Mac and Linux versions coming soon)</small>
        </div>
    </div>
</nav>
