<div class="features">

    <section class="row">

        <article class="feature">
            <%= image_tag 'icon-server.png', :width => '85', :height => '85', :class => 'icon' %>
            <h5>You can choose the datacenter closer to you, so that the upload and download times are greatly improved.</h5>
        </article>

        <article class="feature">
            <%= image_tag 'icon-gauge.png', :width => '85', :height => '85', :class => 'icon' %>
            <h5>You are in full control of your data, at no extra cost. You pay only what you use, and you can take advantage of the free 5GB Amazon account.</h5>
        </article>

        <article class="feature">
            <%= image_tag 'icon-money.png', :width => '85', :height => '85', :class => 'icon' %>
            <h5>Cost in Amazon is about $0.0300 per GB -> 50GB cost $1.5/month.</h5>
        </article>

    </section>
</div><!-- .features -->
