<div class="footer">

    <section class="row">
        <%= partial "partials/_cta" %>
        <h3 class="gossip">GitHub stores LFS on Amazon S3 too.</h3>

        <div class="flash flash-info disclaimer">
            <small><strong>Disclaimer:</strong> open lfs is just a small bunch of modifications to the original git-lfs code. It was created while taking a look at lfs performance. Instead of storing a pointer and asking GitHub for the *real* AWS S3 URL, this version directly communicates with your AWS account to grab or write the data. That's all, as simple as that.</small>
        </div>
    </section>
</div><!-- .features -->
