<div class="hero">

    <div class="row row-hero-header">
        <%= partial "partials/header" %>

        <main class="hero-content">
            <h1><strong>git LFS</strong> on your own storage...</h1>
            <h1>faster and at fraction of the cost</h1>
            <%= partial "partials/_cta" %>
        </main>
    </div>
</div><!-- .hero -->
