<section class="intro">
    <article class="row">
        <header class="intro-text">
            <h5>Open LFS uses the same underlying git-lfs core, but data goes directly to your own Amazon AWS account, instead of the GitHub one*.</h5>
        </header>
        <figure>
            <%= image_tag 'intro-infographic.png', :width => '693', :class => 'infographic' %>
        </figure>
    </article>
</section>
